* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.academy_mobile_container {
  max-width: 550px;
  border: 1px solid green;
  margin: 0 auto;
}

.mobile_academy_search_field .mobile_academy_custom_search {
  border-radius: 0px;
  font-size: 12px;
  font-weight: 400;
}

.mobile_academy_search_field .mobile_academy_search_btn {
  border-radius: 0 5px 5px 0;
  padding: 10px 15px;
  background-color: #fe5c4d;
  border: none;
}

.mobile_academy_search_btn img {
  width: 15px;
  height: auto;
}

.mobile_academy_search_field .mobile_academy_search_btn {
  border-radius: 0 5px 5px 0;
  padding: 10px 15px;
  background-color: #fe5c4d;
  border: none;
}

.mobile_academy_search_btn img {
  width: 15px;
  height: auto;
}

.mobile_academy_top {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile_academy_menu {
  margin-left: 1rem;
}

.mobile_academy_custom_search::placeholder {
  font-size: 0.8rem;
}

.mobile_academy_custom_search:focus{
    box-shadow: none;
}


.mobile_academy_input{
    width: 350px;
}

@media only screen and (max-width: 440px) {

    .mobile_academy_input{
        width: 300px;
    }
  }
@media only screen and (max-width: 385px) {

    .mobile_academy_input{
        width: 100%;
    }
  }