@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.academy_mobile_container {
  max-width: 550px;
  border: 1px solid green;
  margin: 0 auto;
}

.mobile_academy_header {
  max-width: 550px;
  border: 1px solid green;
  margin: 0 auto;
}

.mobile_academy_search_field .mobile_academy_custom_search {
  border-radius: 0px;
  font-size: 12px;
  font-weight: 400;
}

.mobile_academy_search_field .mobile_academy_search_btn {
  border-radius: 0 5px 5px 0;
  padding: 10px 15px;
  background-color: #fe5c4d;
  border: none;
}

.mobile_academy_search_btn img {
  width: 15px;
  height: auto;
}

.mobile_academy_search_field .mobile_academy_search_btn {
  border-radius: 0 5px 5px 0;
  padding: 10px 15px;
  background-color: #fe5c4d;
  border: none;
}

.mobile_academy_search_btn img {
  width: 15px;
  height: auto;
}

.mobile_academy_top {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile_academy_menu {
  margin-left: 1rem;
}

.mobile_academy_custom_search::placeholder {
  font-size: 0.8rem;
}

.mobile_academy_custom_search:focus {
  box-shadow: none;
}

.mobile_academy_input {
  width: 350px;
}

.mobile_academy_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mobile_academy_banner img {
  max-width: 100%;
  height: auto;
  padding-bottom: 3rem;
  z-index: -1000;
}

/* .mobile_academy_logo {
width: 10rem;
height: 10rem;
border-radius: 50%;
border: 1px solid red;
overflow: hidden;
flex-shrink:0;
}

.mobile_academy_logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.mobile_academy_logo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #dcdcdc;
  position: relative;
  background-color: #ffffff;
}

.mobile_academy_logo img {
  width: 70px;
  height: auto;
  position: absolute;
  top: 45%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1000;
}

.mobile_academy_wrapper {
  position: absolute;
  left: 3%;
  top: 45%;
}

.academy_arrow_white {
  padding: 0.3rem;
  border-radius: 50%;
  background-color: #fff;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1%;
  z-index: -1000;
  top: 30%;
}
.academy_arrow_white_1 {
  padding: 0.3rem;
  border-radius: 50%;
  background-color: #fff;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1%;
  z-index: -1000;
  top: 30%;
}

.academy_arrow_white_1 img {
  position: absolute;
  top: 38%;
}
.academy_arrow_white img {
  position: absolute;
  top: 32%;
}

.mob_academy_info {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  top: 80%;
  right: 1.5%;
}

.mob_academy_photo {
  color: #fe5c4d;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-weight: 600;
  margin-right: 1rem;
}

.mob_academy_video {
  color: var(--Primary, #222);
  font-family: DM Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.02563rem;
  text-transform: capitalize;
}

.mob_academy_star {
  display: flex;
  justify-content: start;
  align-items: center;
}

.mob_academy_name {
  margin-left: 1rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  color: #222;
  font-family: DM Sans;
  font-size: 1.375rem;
  font-weight: 600;
  text-transform: capitalize;
}

.mob_academy_total_star {
  display: flex;
  justify-content: start;
  align-items: center;
}

.star_number {
  color: #222;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  margin-right: 0.1rem;
}

.mob_academy_star_heart {
  display: flex;
  justify-content: start;
  align-items: end;
  border-radius: 0.3125rem;
  background: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
  width: max-content;
  padding: 0.3rem;
  margin-left: 1rem;
}

.mob_share, .mob_heart{
  margin-left: 1.2rem;
}

.mob_academy_tab_list {
  width: 100%;
  height: 100%;
  overflow: auto;
  margin-top: 1rem;
  border: 1px solid orange;
}

.mob_academy_tab_list ul{
    display: flex;
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-wrap: nowrap;
    text-wrap: nowrap;
}

.mob_academy_tab_list ul li{
  color:#222;
font-family: DM Sans;
font-size: 0.875rem;
font-style: normal;
font-weight: 500;
margin-right: 1.5rem;
padding-bottom: 0.1rem;

}

.mob_academy_tab_list ul li:last-child{
 padding-right: 2rem;
}

.mob_academy_active_tab{
  padding-bottom: 0.1rem;
  border-bottom: 1px solid #fe5c4d;;
  color:#fe5c4d !important;
}

.mob_academy_tab_list::-webkit-scrollbar {
  height: 0rem;
}



@media only screen and (max-width: 440px) {
  .mobile_academy_input {
    width: 300px;
  }

  .mobile_academy_logo {
    width: 100px;
    height: 100px;
  }

  .mobile_academy_logo img {
    width: 40px;
    top:50%;
  }
}
@media only screen and (max-width: 385px) {
  .mobile_academy_input {
    width: 100%;
  }
}
